﻿<%@ Control Language="C#" CodeBehind="Boolean.ascx.cs" Inherits="BackOffice.BooleanFilter" %>

<asp:DropDownList runat="server" ID="DropDownList1" AutoPostBack="True" CssClass="DDFilter"
    OnSelectedIndexChanged="DropDownList1_SelectedIndexChanged">
</asp:DropDownList>

