<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MultiForeignKey.ascx.cs" Inherits="BackOffice.MultiForeignKey" EnableViewState="True" %>

<asp:CheckBoxList runat="server" ID="CheckBoxList1" AutoPostBack="True" RepeatLayout="Flow" RepeatDirection="Horizontal">
</asp:CheckBoxList>
